[build]
  publish = "dist"
  command = "npm ci && npm run build"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"
  NPM_FLAGS = "--production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404